# App URL
APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Directus CMS URL
DIRECTUS_URL=https://cms.businessfalkenberg.se
NEXT_PUBLIC_DIRECTUS_URL=https://cms.businessfalkenberg.se

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_GOOGLE_MAP_ID=DEMO_MAP_ID
